* {
    box-sizing: border-box;
    /* border: 1px solid cyan; */
  }
main{
    max-width: 900px;
    height: 900px;
    background-image: url("lights-image.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    position: static;
    margin:auto;
}
.firstcolumn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    height: 100%;
    width: 100%;
}
.lightimage{
    margin: 10px;
    width: 250px;
    height: 250px;
}
